.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.searchField {
  height: 32px;
  width: 320px;
  font-size: 24px;
  padding: 8px;
}

.resultsArea {
  padding: 32px 0;
}

.resultsArea > .result {
  margin-bottom: 32px;
  padding: 16px;
  border: 1px solid black;
  width: 300px;
  border-radius: 4px;
}
